# Ignore all files and directories within the result directory
result/*

# Do not ignore the .gitkeep file, so the directory can be tracked
!result/.gitkeep

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore temporary files
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
